node_modules/
.vscode-test/
out/
dist/
*.vsix
.DS_Store
.env
npm-debug.log
package-lock.json
eval/results/*.csv
eval/repos/*

eval/RQ3-RetrospectiveStudy/rq3_results/
eval/RQ3-RetrospectiveStudy /repos/
__pycache__/